body {
	text-align: center;
	background: #FFFFFF;
	width: 100vw;
	height: 100vh;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 5px;
	margin-bottom: 5px;
	font-family: 'Montserrat', sans-serif;
}

ul {
	list-style-type: none;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}

hr {
	border: 0;
	border-top: 2px solid #000000;
}

form {
	border-radius: 10px;
	border: solid black;
	padding: 5px;
	margin: 0 500px;
}

submit {
	float: right;
	margin-right: 10px;
	position: relative;
}

.input {
	margin-top: 5px;
	margin-right: 10px;
	font-size: 20px;
}